I-D nits

  Checking boilerplate required by RFC 5378 and the IETF Trust (see
  https://trustee.ietf.org/license-info):
  ----------------------------------------------------------------------------

     No issues found here.

  Checking nits according to https://www.ietf.org/id-info/1id-guidelines.txt:
  ----------------------------------------------------------------------------

     No issues found here.

  Checking nits according to https://www.ietf.org/id-info/checklist :
  ----------------------------------------------------------------------------

  ** There are 23 instances of too long lines in the document, the longest
     one being 18 characters in excess of 72.

  ** The abstract seems to contain references
     ([I-D.ietf-teas-ietf-network-slices]), which it shouldn't.  Please
     replace those with straight textual mentions of the documents in question.


  Miscellaneous warnings:
  ----------------------------------------------------------------------------

  == The document doesn't use any RFC 2119 keywords, yet seems to have RFC
     2119 boilerplate text.


  Checking references for intended status: Proposed Standard
  ----------------------------------------------------------------------------

     (See RFCs 3967 and 4897 for information about using normative references
     to lower-maturity documents in RFCs)

  ** Downref: Normative reference to an Informational RFC: RFC 8453


     Summary: 3 errors (**), 0 flaws (~~), 1 warning (==), 0 comments (--).

     Run idnits with the --verbose option for more detailed information about
     the items above.
